<% if logged_in? %>
<script type="text/javascript">
window.current_user = <%= render('/api/users/user.json.jbuilder', {user: current_user}).html_safe %>
</script>
<% end %>
<script type="text/javascript">
  window.concordLogoWhite = "<%= image_url('concord_logo_white.png') %>"
</script>
<script type="text/javascript">
  window.logOutIcon = "<%= image_url('sign-out-white-64px.png') %>"
</script>
<script type="text/javascript">
  window.createServerIcon = "<%= image_url('create_server.png') %>"
</script>
<script type="text/javascript">
  window.joinServerIcon = "<%= image_url('join_server.png') %>"
</script>
<script type="text/javascript">
  window.backArrow = "<%= image_url('back_arrow.svg') %>"
</script>
<script type="text/javascript">
  window.expandArrow = "<%= image_url('expand-button.svg') %>"
</script>
<main id="root"></main>
